.profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 0;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {
    .profile__subtitle {
        max-width: 250px;
    }
}

@media screen and (max-width: 715px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 14px;
        max-width: 282px;
    }
}