.profile__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}

@media screen and (max-width: 620px) {
    .profile__title {
        margin-top: 22.25px;
        justify-content: space-between;
    }
}