.photo-grid__like-button {
    padding: 0;
    border: none;
    height: 19px;
    width: 22px;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

.photo-grid__like-button:hover {
    opacity: 0.5;
}